$green: rgb(16, 194, 105);
$dark-green: rgb(11, 152, 82);

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;

  .main-section {
    height: 70vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
    border: 1px solid $green;

    .points {
      display: flex;
      width: 100%;
      height: 20px;
      border-radius: 25px;
      overflow: hidden;
      border: 1px solid black;
      gap: 1px solid black;

      .point {
        display: flex;
        justify-content: center;
        width: 10%;
        height: 110%;
        background-color: white;
        border: none;
        border-right: 1px solid black;

        &:last-child {
          border-right: none;
        }
      }
    }

    .question {
      display: flex;
      justify-content: center;
      color: black;
      font-size: larger;
      font-weight: 800;
    }

    .anwsers {
      display: flex;
      flex-wrap: wrap;

      .anwser {
        box-sizing: border-box;
        width: 48%;
        height: 10vh;
        margin: 1%;
        background-color: $green;
        border: solid 1px $green;
        border-radius: 10px;
        color: white;
        font-size: larger;
        font-weight: 600;
        transition: 0.5s;

        &:hover {
          box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        }

        &[data-picked="true"] {
          color: $green;
          background-color: white;
        }
      }
    }

    .next {
      height: 10vh;
      background-color: white;
      border: solid $green 2px;
      border-radius: 10px;
      color: $green;
      font-size: larger;
      font-weight: 900;

      &:hover {
        color: white;
        background-color: $green;
        box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;

    .info-window {
      box-sizing: border-box;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      min-height: 40%;
      min-width: 40%;
      max-height: 70%;
      max-width: 70%;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 40px;

      .overlay-button {
        border: none;
        border-radius: 15px;
        background-color: rgb(16, 194, 105);
        height: 50px;
        width: 70px;
        color: white;

        &:hover {
          box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
        }
      }
    }
  }
}
