.search-container {
  position: absolute;
  height: 15vh;
  width: 40vw;
  border: 1px solid rgb(16, 194, 105);
  border-radius: 25px;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 40px -10px rgb(75, 77, 95);
}
@media (max-width: 900px) {
  .search-container {
    width: 60vw;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .search-container {
    width: 80vw;
  }
}
.search-container .search-input {
  height: 40px;
  width: 70%;
  border: 1px solid rgb(16, 194, 105);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-sizing: border-box;
  padding-left: 10px;
}
@media (max-width: 900px) {
  .search-container .search-input {
    border-radius: 10px;
    margin-bottom: 5px;
    width: 90%;
  }
}
.search-container .search-button {
  height: 40px;
  width: 10%;
  border: 1px solid rgb(16, 194, 105);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(16, 194, 105);
  color: white;
}
@media (max-width: 900px) {
  .search-container .search-button {
    border-radius: 10px;
    width: 30%;
  }
}
.search-container .search-button .search-icon {
  max-height: 100%;
}

.add-quiz-container {
  position: absolute;
  top: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-quiz-container .new_quiz_container {
  border: 1px solid rgb(16, 194, 105);
  border-radius: 25px;
  height: 30vh;
  width: 60vw;
  box-shadow: 0px 0px 40px -10px rgb(75, 77, 95);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3vh;
}
@media (max-width: 600px) {
  .add-quiz-container .new_quiz_container {
    width: 80vw;
  }
}
.add-quiz-container .new_quiz_container .search-quiz-icon {
  height: 50px;
  width: 50px;
}
.add-quiz-container .new_quiz_container .quiz-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
.add-quiz-container .new_quiz_container .new-quiz-controls {
  display: flex;
  justify-content: space-between;
}
.add-quiz-container .new_quiz_container .new-quiz-controls .key-input {
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid rgb(16, 194, 105);
  padding-left: 10px;
}
@media (max-width: 900px) {
  .add-quiz-container .new_quiz_container .new-quiz-controls .key-input {
    width: 20vw;
  }
}
.add-quiz-container .new_quiz_container .new-quiz-controls .add-new-quiz,
.add-quiz-container .new_quiz_container .new-quiz-controls .delete-quiz {
  width: 10vw;
  height: 5vh;
  color: white;
  background-color: rgb(16, 194, 105);
  border-radius: 25px;
  border: 1px solid rgb(16, 194, 105);
  margin: 5px;
  transition: 0.5s;
}
@media (max-width: 900px) {
  .add-quiz-container .new_quiz_container .new-quiz-controls .add-new-quiz,
  .add-quiz-container .new_quiz_container .new-quiz-controls .delete-quiz {
    width: 20vw;
  }
}
.add-quiz-container .new_quiz_container .new-quiz-controls .delete-quiz {
  background-color: rgb(230, 23, 20);
  border: 1px solid rgb(230, 23, 20);
}

@media (max-width: 600px) {
  .search-container,
  .new_quiz_container {
    width: 80vw;
  }
}/*# sourceMappingURL=search.css.map */